{% extends 'tp/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
  <h1 class="title">Register</h1>
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="field">
      <label class="label">Username</label>
      <div class="control">{{ form.username }}</div>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">{{ form.email }}</div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">{{ form.password1 }}</div>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">{{ form.password2 }}</div>
    </div>
    <div class="field">
      <label class="label">Role</label>
      <div class="control">{{ form.role }}</div>
    </div>
    <div class="control"><button class="button is-primary" type="submit">Register</button></div>
  </form>
{% endblock %}
