{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 500px;">
    <h2>Forget Password</h2>
    <p class="text-muted">Apna Username, Email ya Mobile dalein jahan OTP bheja ja sake.</p>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3"><input type="text" name="login_input" class="form-control" placeholder="Enter details..." required></div>
        <button type="submit" class="btn btn-danger w-100">Generate OTP</button>
    </form>
</div>
{% endblock %}